annotated-types
beautifulsoup4
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl#sha256=d88c737eb7eb766f730f6a2dcb99dfcdb81623e1e0d89a9c638a2182ac19c52e
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
filelock
fonttools
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
fsspec
gensim
huggingface-hub
idna
importlib_resources
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0-py3-none-any.whl#sha256=c6a300c7d7b440cee6a896f648bce744c9f091375dc8d7ff834a8930d59eb4bd
Jinja2
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
murmurhash
networkx
numpy
packaging
pandas
pillow
preshed
propcache
pyarrow
pydantic
pydantic_core
pyemd
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
rich
https://github.com/explosion/spacy-models/releases/download/ro_core_news_sm-3.7.0/ro_core_news_sm-3.7.0-py3-none-any.whl#sha256=28cbf267ec1b7dda264258d084000d6a82f4c3a7efd7ba1823c38d15914a4fc2
scipy
shellingham
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
https://github.com/explosion/spacy-models/releases/download/sv_core_news_sm-3.7.0/sv_core_news_sm-3.7.0-py3-none-any.whl#sha256=dea5364aebef2171c2a890c9c6aee42276abca3a792ec7a0a07a5996373954d5
sympy
thinc
tokenizers
torch
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
weasel
wrapt
xxhash
zipp
